body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reviewCard{
  align-items: center;
  border-radius: 50px;
  width: 700px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.descriptors {
  font-weight:lighter;
  text-align: center;
  margin: auto;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}

.textField{
  margin: 0px;
  text-align: center;
  width: 400px;
  margin: auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
  background-color: #fff1a5;
    color: #333;
    text-align: left;
    border-radius: 20px;
    margin: auto;
    padding: 20px 35px;
    margin: 20px 250px;
    position: relative;
}

.button {
  padding-top: 20px;
  padding-bottom: 30px;
}


