body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userText {
  background-color: #fff1a5;

}

.descriptors {
  font-weight:lighter;
  text-align: center;
  margin-left: 80px;
  
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin: 0px;
}


.textField{
  margin: 0px;
  text-align: center;
  margin-left: 80px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
  background-color: #fff1a5;
    color: #333;
    text-align: left;
    border-radius: 20px;
    margin: auto;
    padding: 20px 35px;
    margin: 20px 250px;
    position: relative;
}

.name-display {
  font-weight: bolder;
  font-size: 24px;
}

.date-display {
  font-weight: normal;
  font-size: 14px;    
  padding: 10px 15px; 
}

.text-display {
  font-size: 16px;
  padding-top: 15px;
}


